*{
	margin:0px;
	padding:0px;
}
.mainwrapper{
	width:100%; height:100px; background-color:#9c07a5;
}
.header {
	padding:10px 0 0 50px; 
	width:100%; height:50px;
}
.menu{ width:100%; height:40px;  }
ul{
	margin:0px
	padding:0px;
	list-style:none;
}
ul li{
	text-transform: uppercase;
	width:180px;
	height:40px;
	float:left;
	background-color: #9c07a5;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-right: 2px;
}

ul li a{
	text-decoration: none;
	color:#000;
	display:block;
}
ul li a:hover{
	background-color: #000;
	color:#9c07a5;
}

